.button {
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  background-color: #10b981;
  color: white;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.3s;
  z-index: 50;
  touch-action: manipulation;
  text-decoration: none;

  &:hover {
    background-color: #059669;
  }
}

.icon {
  font-size: 1.5rem;
}
